<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
        <welcome-file>controller.IndexServlet</welcome-file>
    </welcome-file-list>
    <!--Admin login filter-->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/adminPage.jsp</url-pattern>
        <url-pattern>/createUser.jsp</url-pattern>
        <url-pattern>/addLesson.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonController</servlet-name>
        <servlet-class>controller.LessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>controller.userController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseController</servlet-name>
        <servlet-class>controller.ResponseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionController</servlet-name>
        <servlet-class>controller.QuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileController</servlet-name>
        <servlet-class>controller.UploadFileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>controller.QuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonController</servlet-name>
        <url-pattern>/LessonController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseController</servlet-name>
        <url-pattern>/ResponseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionController</servlet-name>
        <url-pattern>/QuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileController</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/QuizServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
